# Generally ignore compilation files from latex
**.aux
**.bbl
**.blg
**.out
**.log
**.toc
/*.pdf
# Ignore all "picture" subdirectories in Papers
/pictures/**
# Ignore the comments subdirectory
/comments/**

